dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width 280px - 468px 320/1140
  width: clamp(17.5rem, 13.571rem + 19.643vw, 28rem);
  height: clamp(29rem, 31.286rem + 8.57vw, 39rem);

  background-color: $deep;
  &::backdrop {
    backdrop-filter: blur(5px);
  }
}

//---------------------------
.dialog-header {
  position: relative;
  padding: 0.8rem;
  color: white;
  font-family: $user-font;
  font-size: $font-size-title;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeDialogButton {
  position: absolute;
  right: 0;
  width: clamp(3.125rem, 3.036rem + 0.446vw, 3.438rem);
  height: clamp(3.125rem, 3.036rem + 0.446vw, 3.438rem);
  font-size: $font-size-title;
  color: rgba(white, 0.6);
  background-color: $dark;
  transition: 0.3s ease-out;

  &:hover {
    background-color: $accent;
  }
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1.5rem;
}

.inputBox {
  position: relative;

  input,
  textarea {
    // width 230px - 380px
    width: clamp(14.375rem, 11.696rem + 13.393vw, 23.75rem);
    padding: 10px 0 0 5px;
    background: transparent;
    font-family: $user-font;
    color: white;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    background-color: $dark;
    outline: none;
  }

  span {
    position: absolute;
    left: 0;
    padding: 10px 0 0 10px;
    color: rgba(white, 0.3);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
  }
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  color: rgba(white, 0.3);
  transform: translateY(-18px);
  font-size: 0.7em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(white, 0.7);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, $accent, black, black, $accent);
    animation: animate 2s linear infinite;
    transition: 0.7s;
  }
}

.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before,
.inputBox textarea:valid ~ i::before,
.inputBox textarea:focus ~ i::before {
  left: 0%;
}

// ANIMATION DIALOG OPEN
