/* menu icon */
.menu {
  position: absolute;
  right: 0;
  width: clamp(3.75rem, 1.875rem + 3.906vw, 4.375rem);
  height: 100%;
  background-color: rgba(gray, $border-opacity * 2);
}

@media (any-hover: hover) {
  .menu:hover {
    background-color: rgba(gray, $border-opacity);
  }
}

// кнопка
.menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;

  &__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    transition: transform 0.2s ease, background-color 0.5s ease;
  }

  .menu-icon__line-left {
    width: 23px;
  }

  .menu-icon__line-right {
    width: 23px;

    float: right;
  }
}

/* анимация кнопки  */
.nav-active .menu-icon__line {
  background-color: #000;
  transform: translateX(0px) rotate(-45deg);
}

.nav-active .menu-icon__line-left {
  width: 15px;
}

.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
}

/* шторка */
.nav {
  position: fixed;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: fixed;

    right: 0;
    width: 24vw;
    height: 100vh;
    background: rgba(gray, $border-opacity * 2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-105%);
  }

  &::before {
    transition-delay: 0.1s;
  }

  &::after {
    background: rgb(220, 220, 220);
    transition-delay: 0s;
  }
}

@media (max-width: 990px) {
  .nav,
  .nav:before,
  .nav:after {
    width: 100%;
    height: 100%;
  }
}

.nav-content {
  position: fixed;
  right: 0;
  //font-size: calc($index * 1.7);
  font-size: clamp(1.25rem, 0.982rem + 1.339vw, 2.188rem);
  z-index: 10;
  transform: translateX(0%) translateY(-100%);
}

@media (max-width: 990px) {
  .nav-content {
    width: 100%;
    height: 100%;
  }
}

// text
.nav-list {
  width: 24vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;

  &__item {
    opacity: 0;
    position: relative;
    transition-delay: 0.2s;
    transform: translate(0%, 100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
}

@media (max-width: 990px) {
  .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-list__item a {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #1e2023;
  font-family: $user-font;
}

/* эффект свечения текста при наведении */
@media (any-hover: hover) {
  .nav-list__item:hover a span {
    text-shadow: 0 0 5px #1e2023de, 0 0 15px #1e2023de, 0 0 30px #1e2023de,
      0 0 60px #1e2023de, 0 0 100px #1e2023de;
  }
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after,
body.nav-active .nav-content {
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  transition-delay: 0.1s;
}

body.nav-active .nav:before {
  transition-delay: 0s;
}

body.nav-active .nav-list__item {
  // выпадающий текст
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out,
    color 0.3s ease-out;
}

// ------- //
body.nav-active .nav-list__item:nth-child(0) {
  transition-delay: 0.2s;
}

body.nav-active .nav-list__item:nth-child(1) {
  transition-delay: 0.3s;
}

body.nav-active .nav-list__item:nth-child(2) {
  transition-delay: 0.4s;
}

body.nav-active .nav-list__item:nth-child(3) {
  transition-delay: 0.5s;
}

body.nav-active .nav-list__item:nth-child(4) {
  transition-delay: 0.6s;
}
