<aside>

   <div class="aside-decoration"></div>
   <div class="aside-social">
      <div class="aside-social__item">
         <a href="https://www.instagram.com/darthsairex/" class="social__item">
            <img src="img/dist/soc/instagram-brands.svg" alt="instagram">
         </a>
         <a href="#" class="social__item">
            <img src="img/dist/soc/facebook-f-brands.svg" alt="facebook">
         </a>
         <a href="#" class="social__item">
            <img src="img/dist/soc/vk-brands.svg" alt="vk">
         </a>
      </div>
   </div>

</aside>