<dialog id="myDialog" class="scale-center">

    <div class="dialog-header">
      <h2>Оставить заявку</h2>
      <button id="closeDialogButton" class="closeDialogBtn" type="button">
        <span>X</span>
      </button>
    </div>

    <div class="form-container">
      <form action="#">

        <div class="inputBox">
          <input type="text" required="required">
          <span>ваше имя</span>
          <i></i>
        </div>

        <div class="inputBox">
          <input type="tel" required="required">
          <span>ваш телефон</span>
          <i></i>
        </div>

        <div class="inputBox">
          <textarea name="massage" cols="30" rows="10" required="required"></textarea>
          <span>Сообщение</span>
          <i></i>
        </div>

        <button class="button-modal btn" type="submit">
          <a>Отправить</a>
        </button>
      </form>
    </div>

</dialog>