<div class="top-line">
    <!-- LOGO -->
    <a href="../index.html" class="logo">
        <span class="logo-images__wrapper">
            <img src="./img/dist/logo-DRN.svg" alt="drn-logo" class="logo-imeges">
        </span>
        <span class="logo-text">dayren</span>
    </a>
    <!-- DECORATION -->
    <div class="top-line__decoration"></div>
    <!-- CONTACTS -->
    <div class="top-line__contacts">
        <span class="top-line__phone">Телефон:</span>
        <span class="top-line__number">678 51 03</span>
        <span class="top-line__separator"></span>
        <span class="top-line__address">город:
            <span class="top-line_text">Гродно</span>
        </span>
    </div>
    <!-- DECORATION -->
    <div class="top-line__decoration"></div>
    <!-- MENU -->
    <div class="menu-container">
        @@include('dropDownMenu.html')
    </div>
</div>